<h1>The XML Strucutre</h1>

<img src="https://www.w3schools.com/xml/nodetree.gif"/>

Source: https://www.w3schools.com/xml/xml_tree.asp

<h1>Project Set Up</h1>

In [1]:
import pandas as pd
from lxml import etree
pd.set_option('display.max_columns', None)

In [2]:
tree = etree.parse('data/consolidated_20220616.xml') # returns an ElementTree object
root = tree.getroot() # for parsing XML fragments

In [3]:
# Create variable for "entity" and "entity" nodes seperately

individuals = root[0]
entities = root[1]

<h1>Evaluate Tree Structure</h1>

<h2>- Identify Duplidated Nodes</h2>

In [4]:
feature_count = pd.DataFrame()

for entity in entities:

    features = {}

    for node in entity.findall('*'):

        if node.tag not in features:

            features[node.tag] = 1

        else:

            features[node.tag] += 1

    feature_count = feature_count.append(pd.DataFrame(features,index=[0]),ignore_index=False)

In [5]:
feature_count.head()

,DATAID,VERSIONNUM,FIRST_NAME,UN_LIST_TYPE,REFERENCE_NUMBER,LISTED_ON,COMMENTS1,LIST_TYPE,LAST_DAY_UPDATED,ENTITY_ALIAS,ENTITY_ADDRESS,SORT_KEY,SORT_KEY_LAST_MOD,NAME_ORIGINAL_SCRIPT,SUBMITTED_ON
0,1,1,1,1,1,1,1,1,1,1.0,1,1,1,NaN,NaN
0,1,1,1,1,1,1,1,1,1,1.0,1,1,1,NaN,NaN
0,1,1,1,1,1,1,1,1,1,3.0,1,1,1,NaN,NaN
0,1,1,1,1,1,1,1,1,1,1.0,1,1,1,NaN,NaN
0,1,1,1,1,1,1,1,1,1,1.0,1,1,1,NaN,NaN

In [6]:
feature_count.max()

DATAID                   1.0
VERSIONNUM               1.0
FIRST_NAME               1.0
UN_LIST_TYPE             1.0
REFERENCE_NUMBER         1.0
LISTED_ON                1.0
COMMENTS1                1.0
LIST_TYPE                1.0
LAST_DAY_UPDATED         1.0
ENTITY_ALIAS            27.0
ENTITY_ADDRESS          16.0
SORT_KEY                 1.0
SORT_KEY_LAST_MOD        1.0
NAME_ORIGINAL_SCRIPT     1.0
SUBMITTED_ON             1.0
dtype: float64

In [7]:
feature_count_max = feature_count.max()

In [8]:
feature_count_max

DATAID                   1.0
VERSIONNUM               1.0
FIRST_NAME               1.0
UN_LIST_TYPE             1.0
REFERENCE_NUMBER         1.0
LISTED_ON                1.0
COMMENTS1                1.0
LIST_TYPE                1.0
LAST_DAY_UPDATED         1.0
ENTITY_ALIAS            27.0
ENTITY_ADDRESS          16.0
SORT_KEY                 1.0
SORT_KEY_LAST_MOD        1.0
NAME_ORIGINAL_SCRIPT     1.0
SUBMITTED_ON             1.0
dtype: float64

<h2>- Identify Nested Nodes</h2>

In [9]:
feature_nesting = pd.DataFrame()

for entity in entities:

    features = {}

    for node in entity.findall('*'):
        
        if node.tag not in features:

            features[node.tag] = len(node.findall('*'))

        else:

            features[node.tag] = max(features[node.tag], len(node.findall('*')))
    
    feature_nesting = feature_nesting.append(pd.DataFrame(features, index=[0]),ignore_index=True)

In [10]:
feature_nesting.head()

,DATAID,VERSIONNUM,FIRST_NAME,UN_LIST_TYPE,REFERENCE_NUMBER,LISTED_ON,COMMENTS1,LIST_TYPE,LAST_DAY_UPDATED,ENTITY_ALIAS,ENTITY_ADDRESS,SORT_KEY,SORT_KEY_LAST_MOD,NAME_ORIGINAL_SCRIPT,SUBMITTED_ON
0,0,0,0,0,0,0,0,1,1,2.0,2,0,0,NaN,NaN
1,0,0,0,0,0,0,0,1,1,2.0,0,0,0,NaN,NaN
2,0,0,0,0,0,0,0,1,1,2.0,1,0,0,NaN,NaN
3,0,0,0,0,0,0,0,1,2,2.0,1,0,0,NaN,NaN
4,0,0,0,0,0,0,0,1,1,2.0,0,0,0,NaN,NaN

In [11]:
feature_nesting_max = feature_nesting.max()

In [12]:
feature_nesting_max

DATAID                   0.0
VERSIONNUM               0.0
FIRST_NAME               0.0
UN_LIST_TYPE             0.0
REFERENCE_NUMBER         0.0
LISTED_ON                0.0
COMMENTS1                0.0
LIST_TYPE                1.0
LAST_DAY_UPDATED        10.0
ENTITY_ALIAS             2.0
ENTITY_ADDRESS           5.0
SORT_KEY                 0.0
SORT_KEY_LAST_MOD        0.0
NAME_ORIGINAL_SCRIPT     0.0
SUBMITTED_ON             0.0
dtype: float64

In [13]:
feature_count_max = (feature_count_max>1).astype(int)
feature_count_max.name='duplicated'

feature_nesting_max = (feature_nesting_max>0).astype(int)
feature_nesting_max.name = 'nesting'

tree_structure = pd.concat([feature_count_max, feature_nesting_max],axis=1)

In [14]:
tree_structure

                      duplicated  nesting
DATAID                         0        0
VERSIONNUM                     0        0
FIRST_NAME                     0        0
UN_LIST_TYPE                   0        0
REFERENCE_NUMBER               0        0
LISTED_ON                      0        0
COMMENTS1                      0        0
LIST_TYPE                      0        1
LAST_DAY_UPDATED               0        1
ENTITY_ALIAS                   1        1
ENTITY_ADDRESS                 1        1
SORT_KEY                       0        0
SORT_KEY_LAST_MOD              0        0
NAME_ORIGINAL_SCRIPT           0        0
SUBMITTED_ON                   0        0

In [15]:
tree_structure[tree_structure['nesting']==0]

                      duplicated  nesting
DATAID                         0        0
VERSIONNUM                     0        0
FIRST_NAME                     0        0
UN_LIST_TYPE                   0        0
REFERENCE_NUMBER               0        0
LISTED_ON                      0        0
COMMENTS1                      0        0
SORT_KEY                       0        0
SORT_KEY_LAST_MOD              0        0
NAME_ORIGINAL_SCRIPT           0        0
SUBMITTED_ON                   0        0

In [16]:
tree_structure[tree_structure['nesting']==1]

                  duplicated  nesting
LIST_TYPE                  0        1
LAST_DAY_UPDATED           0        1
ENTITY_ALIAS               1        1
ENTITY_ADDRESS             1        1

In [17]:
tree_structure[tree_structure['duplicated']==1]

                duplicated  nesting
ENTITY_ALIAS             1        1
ENTITY_ADDRESS           1        1

<h2>- Identify Maximum Nesting Level</h2>

In [18]:
features_level = {}

for feature in [tree.getpath(node) for node in list(entities.iterdescendants())]:

    features_level[feature] = feature.count('/')-3

In [19]:
features_level

{'/CONSOLIDATED_LIST/ENTITIES/ENTITY[1]': 0,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[1]/DATAID': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[1]/VERSIONNUM': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[1]/FIRST_NAME': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[1]/UN_LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[1]/REFERENCE_NUMBER': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[1]/LISTED_ON': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[1]/COMMENTS1': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[1]/LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[1]/LIST_TYPE/VALUE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[1]/LAST_DAY_UPDATED': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[1]/LAST_DAY_UPDATED/VALUE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[1]/ENTITY_ALIAS': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[1]/ENTITY_ALIAS/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[1]/ENTITY_ALIAS/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[1]/ENTITY_ADDRESS': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[1]/ENTITY_ADDRESS/CITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[1]/ENTITY_ADDRESS/COUNTRY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[1]/SORT_KEY': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[1]/SORT_KEY_LAST_MOD': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[2]': 0,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[2]/DATAID': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[2]/VERSIONNUM': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[2]/FIRST_NAME': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[2]/UN_LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[2]/REFERENCE_NUMBER': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[2]/LISTED_ON': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[2]/COMMENTS1': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[2]/LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[2]/LIST_TYPE/VALUE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[2]/LAST_DAY_UPDATED': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[2]/LAST_DAY_UPDATED/VALUE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[2]/ENTITY_ALIAS': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[2]/ENTITY_ALIAS/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[2]/ENTITY_ALIAS/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[2]/ENTITY_ADDRESS': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[2]/SORT_KEY': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[2]/SORT_KEY_LAST_MOD': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]': 0,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/DATAID': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/VERSIONNUM': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/FIRST_NAME': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/UN_LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/REFERENCE_NUMBER': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/LISTED_ON': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/COMMENTS1': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/LIST_TYPE/VALUE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/LAST_DAY_UPDATED': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/LAST_DAY_UPDATED/VALUE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/ENTITY_ALIAS[1]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/ENTITY_ALIAS[1]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/ENTITY_ALIAS[1]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/ENTITY_ALIAS[2]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/ENTITY_ALIAS[2]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/ENTITY_ALIAS[2]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/ENTITY_ALIAS[3]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/ENTITY_ALIAS[3]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/ENTITY_ALIAS[3]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/ENTITY_ADDRESS': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/ENTITY_ADDRESS/NOTE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/SORT_KEY': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[3]/SORT_KEY_LAST_MOD': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[4]': 0,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[4]/DATAID': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[4]/VERSIONNUM': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[4]/FIRST_NAME': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[4]/UN_LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[4]/REFERENCE_NUMBER': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[4]/LISTED_ON': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[4]/COMMENTS1': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[4]/LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[4]/LIST_TYPE/VALUE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[4]/LAST_DAY_UPDATED': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[4]/LAST_DAY_UPDATED/VALUE[1]': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[4]/LAST_DAY_UPDATED/VALUE[2]': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[4]/ENTITY_ALIAS': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[4]/ENTITY_ALIAS/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[4]/ENTITY_ALIAS/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[4]/ENTITY_ADDRESS': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[4]/ENTITY_ADDRESS/COUNTRY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[4]/SORT_KEY': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[4]/SORT_KEY_LAST_MOD': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[5]': 0,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[5]/DATAID': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[5]/VERSIONNUM': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[5]/FIRST_NAME': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[5]/UN_LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[5]/REFERENCE_NUMBER': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[5]/LISTED_ON': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[5]/COMMENTS1': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[5]/LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[5]/LIST_TYPE/VALUE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[5]/LAST_DAY_UPDATED': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[5]/LAST_DAY_UPDATED/VALUE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[5]/ENTITY_ALIAS': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[5]/ENTITY_ALIAS/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[5]/ENTITY_ALIAS/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[5]/ENTITY_ADDRESS': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[5]/SORT_KEY': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[5]/SORT_KEY_LAST_MOD': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[6]': 0,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[6]/DATAID': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[6]/VERSIONNUM': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[6]/FIRST_NAME': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[6]/UN_LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[6]/REFERENCE_NUMBER': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[6]/LISTED_ON': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[6]/COMMENTS1': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[6]/LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[6]/LIST_TYPE/VALUE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[6]/LAST_DAY_UPDATED': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[6]/LAST_DAY_UPDATED/VALUE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[6]/ENTITY_ALIAS': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[6]/ENTITY_ALIAS/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[6]/ENTITY_ALIAS/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[6]/ENTITY_ADDRESS': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[6]/ENTITY_ADDRESS/CITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[6]/ENTITY_ADDRESS/COUNTRY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[6]/SORT_KEY': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[6]/SORT_KEY_LAST_MOD': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]': 0,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/DATAID': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/VERSIONNUM': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/FIRST_NAME': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/UN_LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/REFERENCE_NUMBER': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/LISTED_ON': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/COMMENTS1': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/LIST_TYPE/VALUE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/LAST_DAY_UPDATED': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/LAST_DAY_UPDATED/VALUE[1]': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/LAST_DAY_UPDATED/VALUE[2]': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/ENTITY_ALIAS[1]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/ENTITY_ALIAS[1]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/ENTITY_ALIAS[1]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/ENTITY_ALIAS[2]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/ENTITY_ALIAS[2]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/ENTITY_ALIAS[2]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/ENTITY_ALIAS[3]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/ENTITY_ALIAS[3]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/ENTITY_ALIAS[3]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/ENTITY_ALIAS[4]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/ENTITY_ALIAS[4]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/ENTITY_ALIAS[4]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/ENTITY_ADDRESS': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/ENTITY_ADDRESS/STATE_PROVINCE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/ENTITY_ADDRESS/COUNTRY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/SORT_KEY': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[7]/SORT_KEY_LAST_MOD': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]': 0,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/DATAID': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/VERSIONNUM': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/FIRST_NAME': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/UN_LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/REFERENCE_NUMBER': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/LISTED_ON': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/COMMENTS1': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/LIST_TYPE/VALUE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/LAST_DAY_UPDATED': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/LAST_DAY_UPDATED/VALUE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/ENTITY_ALIAS[1]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/ENTITY_ALIAS[1]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/ENTITY_ALIAS[1]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/ENTITY_ALIAS[2]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/ENTITY_ALIAS[2]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/ENTITY_ALIAS[2]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/ENTITY_ALIAS[3]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/ENTITY_ALIAS[3]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/ENTITY_ALIAS[3]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/ENTITY_ALIAS[4]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/ENTITY_ALIAS[4]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/ENTITY_ALIAS[4]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/ENTITY_ADDRESS[1]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/ENTITY_ADDRESS[1]/STREET': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/ENTITY_ADDRESS[1]/CITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/ENTITY_ADDRESS[1]/COUNTRY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/ENTITY_ADDRESS[2]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/ENTITY_ADDRESS[2]/STREET': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/ENTITY_ADDRESS[2]/CITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/ENTITY_ADDRESS[2]/COUNTRY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/SORT_KEY': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[8]/SORT_KEY_LAST_MOD': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]': 0,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/DATAID': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/VERSIONNUM': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/FIRST_NAME': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/UN_LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/REFERENCE_NUMBER': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/LISTED_ON': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/COMMENTS1': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/LIST_TYPE/VALUE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/LAST_DAY_UPDATED': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/LAST_DAY_UPDATED/VALUE[1]': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/LAST_DAY_UPDATED/VALUE[2]': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/LAST_DAY_UPDATED/VALUE[3]': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[1]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[1]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[1]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[2]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[2]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[2]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[3]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[3]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[3]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[4]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[4]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[4]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[5]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[5]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[5]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[6]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[6]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[6]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[7]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[7]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[7]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[8]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[8]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[8]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[9]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[9]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[9]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[10]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[10]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[10]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[11]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[11]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ALIAS[11]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ADDRESS[1]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ADDRESS[1]/STREET': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ADDRESS[1]/CITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ADDRESS[1]/COUNTRY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ADDRESS[2]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ADDRESS[2]/STREET': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ADDRESS[2]/CITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ADDRESS[2]/COUNTRY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ADDRESS[3]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ADDRESS[3]/STREET': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ADDRESS[3]/CITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ADDRESS[3]/COUNTRY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ADDRESS[4]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ADDRESS[4]/STREET': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ADDRESS[4]/CITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ADDRESS[4]/COUNTRY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ADDRESS[5]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ADDRESS[5]/STREET': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ADDRESS[5]/CITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/ENTITY_ADDRESS[5]/COUNTRY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/SORT_KEY': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[9]/SORT_KEY_LAST_MOD': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]': 0,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/DATAID': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/VERSIONNUM': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/FIRST_NAME': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/UN_LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/REFERENCE_NUMBER': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/LISTED_ON': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/NAME_ORIGINAL_SCRIPT': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/COMMENTS1': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/LIST_TYPE/VALUE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/LAST_DAY_UPDATED': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/LAST_DAY_UPDATED/VALUE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/ENTITY_ALIAS[1]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/ENTITY_ALIAS[1]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/ENTITY_ALIAS[1]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/ENTITY_ALIAS[2]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/ENTITY_ALIAS[2]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/ENTITY_ALIAS[2]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/ENTITY_ALIAS[3]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/ENTITY_ALIAS[3]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/ENTITY_ALIAS[3]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/ENTITY_ADDRESS': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/ENTITY_ADDRESS/COUNTRY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/SORT_KEY': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[10]/SORT_KEY_LAST_MOD': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]': 0,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/DATAID': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/VERSIONNUM': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/FIRST_NAME': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/UN_LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/REFERENCE_NUMBER': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/LISTED_ON': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/NAME_ORIGINAL_SCRIPT': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/COMMENTS1': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/LIST_TYPE/VALUE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/LAST_DAY_UPDATED': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/LAST_DAY_UPDATED/VALUE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/ENTITY_ALIAS[1]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/ENTITY_ALIAS[1]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/ENTITY_ALIAS[1]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/ENTITY_ALIAS[2]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/ENTITY_ALIAS[2]/QUALITY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/ENTITY_ALIAS[2]/ALIAS_NAME': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/ENTITY_ADDRESS[1]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/ENTITY_ADDRESS[1]/COUNTRY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/ENTITY_ADDRESS[2]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/ENTITY_ADDRESS[2]/COUNTRY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/ENTITY_ADDRESS[3]': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/ENTITY_ADDRESS[3]/COUNTRY': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/SORT_KEY': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[11]/SORT_KEY_LAST_MOD': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[12]': 0,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[12]/DATAID': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[12]/VERSIONNUM': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[12]/FIRST_NAME': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[12]/UN_LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[12]/REFERENCE_NUMBER': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[12]/LISTED_ON': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[12]/NAME_ORIGINAL_SCRIPT': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[12]/COMMENTS1': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[12]/LIST_TYPE': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[12]/LIST_TYPE/VALUE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[12]/LAST_DAY_UPDATED': 1,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[12]/LAST_DAY_UPDATED/VALUE': 2,
 '/CONSOLIDATED_LIST/ENTITIES/ENTITY[12]/ENTITY_ALIAS[1]': 1,

In [20]:
max(list(features_level.values()))

2

<h1>Seperate Nodes in 3 Groups for Tailored Parsing</h1>

In [21]:
features_group_1 = list(tree_structure[tree_structure['nesting']==0].index)
features_group_1

['DATAID',
 'VERSIONNUM',
 'FIRST_NAME',
 'UN_LIST_TYPE',
 'REFERENCE_NUMBER',
 'LISTED_ON',
 'COMMENTS1',
 'SORT_KEY',
 'SORT_KEY_LAST_MOD',
 'NAME_ORIGINAL_SCRIPT',
 'SUBMITTED_ON']

In [22]:
features_group_3 = list(tree_structure[(tree_structure['nesting']==1) & (tree_structure['duplicated']==0)].index)
features_group_3

['LIST_TYPE', 'LAST_DAY_UPDATED']

In [23]:
features_group_3 = list(tree_structure[tree_structure['duplicated']==1].index)
features_group_3

['ENTITY_ALIAS', 'ENTITY_ADDRESS']

<h3>Group 1:

- DATAID</br>
- VERSIONNUM</br>
- FIRST_NAME</br>
- UN_LIST_TYPE</br>
- REFERENCE_NUMBER</br>
- LISTED_ON</br>
- COMMENTS1</br>
- SORT_KEY</br>
- SORT_KEY_LAST_MOD</br>
- NAME_ORIGINAL_SCRIPT</br>
- SUBMITTED_ON</br>

</h3>

In [24]:
df_entities_group_1 = pd.DataFrame()

for entity in entities:

    features = {}

    for node in entity:
        
        if node.tag in features_group_1 and node.text != None:

            features[node.tag] = node.text.replace('\n', ' ').strip()

    df_entities_group_1 = df_entities_group_1.append(pd.DataFrame(features,index=[0]),ignore_index=True)

In [25]:
df_entities_group_1

,DATAID,VERSIONNUM,FIRST_NAME,UN_LIST_TYPE,REFERENCE_NUMBER,LISTED_ON,COMMENTS1,NAME_ORIGINAL_SCRIPT,SUBMITTED_ON
0,6908629,1,PROPAGANDA AND AGITATION DEPARTMENT (PAD),DPRK,KPe.053,2017-09-11,The Propaganda and Agitation Department has fu...,NaN,NaN
1,110403,1,7TH OF TIR,Iran,IRe.001,2006-12-23,Subordinate of Defence Industries Organisation...,NaN,NaN
2,6908409,1,ABDALLAH AZZAM BRIGADES (AAB),Al-Qaida,QDe.144,2014-09-23,An armed group that has carried out joint atta...,NaN,NaN
3,113445,1,ABU SAYYAF GROUP,Al-Qaida,QDe.001,2001-10-06,Associated with Jemaah Islamiyah (JI) (QDe.092...,NaN,NaN
4,110402,1,ABZAR BORESH KAVEH CO. (BK CO.),Iran,IRe.002,2008-03-03,Involved in the production of centrifuge compo...,NaN,NaN
...,...,...,...,...,...,...,...,...,...
248,6908697,1,WEIHAI WORLD-SHIPPING FREIGHT,DPRK,KPe.074,2018-03-30,Ship and commercial manager of the XIN GUANG H...,NaN,NaN
249,110328,1,YA MAHDI INDUSTRIES GROUP,Iran,IRe.076,2007-03-24,"Subordinate to AIO, which is involved in inter...",NaN,NaN
250,110327,1,YAS AIR,Iran,IRe.077,2012-12-20,"Yas Air is the new name for Pars Air, a compan...",NaN,NaN
251,110326,1,YAZD METALLURGY INDUSTRIES (YMI),Iran,IRe.078,2010-06-09,YMI is a subordinate of DIO. [Old Reference #E...,NaN,NaN
252,6908689,1,YUK TUNG ENERGY PTE LTD,DPRK,KPe.075,2018-03-30,Ship manager and commercial manager of the YUK...,NaN,NaN

<h3>Group 2</br>
- LIST_TYPE</br>
- LAST_DAY_UPDATED</br>
</h3>

<h3>Stacked Dataframe</h3>

In [26]:
def df_from_group_2(starting_node, tag_name, return_type='stack'):
 
    df_stack = pd.DataFrame()

    for node in list(starting_node.iterdescendants(tag_name)):

        DATAID = node.getparent().find('DATAID').text

        features = {}

        features['DATAID'] = DATAID

        for child_node in node.findall('*'):            

            if child_node.text != None:                

                features[child_node.tag] = child_node.text.replace('\n', ' ').strip()

                df_stack = df_stack.append(pd.DataFrame(features,index=[0]),ignore_index=True)

    df_stack.dropna(subset=df_stack.columns[1:],inplace=True)

    df_stack.drop_duplicates(inplace=True)

    df_stack.rename(columns={'VALUE':tag_name},inplace=True)

    df_concat = df_stack.groupby('DATAID',as_index=False).agg({tag_name:'|'.join})

    df_unstack = df_concat[tag_name].str.split('|',expand=True)

    df_unstack.columns = [tag_name +'_'+ str(column+1) for column in df_unstack.columns]

    df_unstack = pd.concat([df_concat[['DATAID']],df_unstack],axis=1)

    if return_type == 'stack':

        return df_stack

    elif return_type == 'concat':

        return df_concat

    elif return_type == 'unstack':

        return df_unstack

<h3>LIST_TYPE</h3>

In [27]:
df_entities_list_type_stack = df_from_group_2(entities, 'LIST_TYPE', 'stack')

In [28]:
df_entities_list_type_stack.head()

    DATAID LIST_TYPE
0  6908629   UN List
1   110403   UN List
2  6908409   UN List
3   113445   UN List
4   110402   UN List

In [29]:
df_entities_list_type_concat = df_from_group_2(entities, 'LIST_TYPE', 'concat')

In [30]:
df_entities_list_type_concat.head()

   DATAID LIST_TYPE
0  110326   UN List
1  110327   UN List
2  110328   UN List
3  110329   UN List
4  110331   UN List

In [31]:
df_entities_list_type_unstack = df_from_group_2(entities, 'LIST_TYPE', 'unstack')

In [32]:
df_entities_list_type_unstack.head()

   DATAID LIST_TYPE_1
0  110326     UN List
1  110327     UN List
2  110328     UN List
3  110329     UN List
4  110331     UN List

<h3>LAST_DAY_UPDATED</h3>

In [33]:
df_entities_last_day_updated_stack = df_from_group_2(entities, 'LAST_DAY_UPDATED', 'stack')

In [34]:
df_entities_last_day_updated_stack.head()

    DATAID LAST_DAY_UPDATED
0   110403       2014-12-17
1  6908409       2019-12-06
2   113445       2011-12-13
3   113445       2020-11-24
4   110402       2014-12-17

In [35]:
df_entities_last_day_updated_concat = df_from_group_2(entities, 'LAST_DAY_UPDATED', 'concat')

In [36]:
df_entities_last_day_updated_concat.head()

   DATAID LAST_DAY_UPDATED
0  110345       2014-12-17
1  110368       2014-12-17
2  110391       2014-12-17
3  110392       2014-12-17
4  110399       2014-12-17

In [37]:
df_entities_last_day_updated_unstack = df_from_group_2(entities, 'LAST_DAY_UPDATED', 'unstack')

In [38]:
df_entities_last_day_updated_unstack

,DATAID,LAST_DAY_UPDATED_1,LAST_DAY_UPDATED_2,LAST_DAY_UPDATED_3,LAST_DAY_UPDATED_4,LAST_DAY_UPDATED_5,LAST_DAY_UPDATED_6,LAST_DAY_UPDATED_7,LAST_DAY_UPDATED_8,LAST_DAY_UPDATED_9,LAST_DAY_UPDATED_10
0,110345,2014-12-17,None,None,None,None,None,None,None,None,None
1,110368,2014-12-17,None,None,None,None,None,None,None,None,None
2,110391,2014-12-17,None,None,None,None,None,None,None,None,None
3,110392,2014-12-17,None,None,None,None,None,None,None,None,None
4,110399,2014-12-17,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
87,6908522,2018-07-09,None,None,None,None,None,None,None,None,None
88,6908686,2018-08-08,None,None,None,None,None,None,None,None,None
89,6908689,2020-05-11,None,None,None,None,None,None,None,None,None
90,6908697,2018-05-23,None,None,None,None,None,None,None,None,None
91,6908777,2022-04-01,None,None,None,None,None,None,None,None,None

In [39]:
df_entities_last_day_updated_unstack.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 0 to 91
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATAID               92 non-null     object
 1   LAST_DAY_UPDATED_1   92 non-null     object
 2   LAST_DAY_UPDATED_2   53 non-null     object
 3   LAST_DAY_UPDATED_3   28 non-null     object
 4   LAST_DAY_UPDATED_4   12 non-null     object
 5   LAST_DAY_UPDATED_5   6 non-null      object
 6   LAST_DAY_UPDATED_6   3 non-null      object
 7   LAST_DAY_UPDATED_7   2 non-null      object
 8   LAST_DAY_UPDATED_8   1 non-null      object
 9   LAST_DAY_UPDATED_9   1 non-null      object
 10  LAST_DAY_UPDATED_10  1 non-null      object
dtypes: object(11)
memory usage: 8.6+ KB

<h3>
Group 3</br>
- ENTITY_ALIAS</br>
- ENTITY_ADDRESS</br>
</h3>

In [40]:
def df_from_group_3(starting_node, tag_name):

    df_stack = pd.DataFrame()

    for node in list(starting_node.iterdescendants(tag_name)):

        DATAID = node.getparent().find('DATAID').text

        features = {}

        features['DATAID'] = DATAID

        for child_node in node.findall('*'):        

            if child_node.text != None:            

                features[child_node.tag] = child_node.text.replace('\n', ' ').strip()

        df_stack = df_stack.append(pd.DataFrame(features,index=[0]),ignore_index=True)

    df_stack.dropna(subset=df_stack.columns[1:], how='all', inplace=True)
    
    return df_stack

<h3>ENTITY_ALIAS</h3>

In [41]:
df_entities_alias_stack = df_from_group_3(entities,'ENTITY_ALIAS')

In [42]:
df_entities_alias_stack

      DATAID QUALITY                                         ALIAS_NAME
2    6908409  a.k.a.                            Abdullah Azzam Brigades
3    6908409  a.k.a.  Ziyad al-Jarrah Battalions of the Abdallah Azz...
4    6908409  a.k.a.  Yusuf al-'Uyayri Battalions of the Abdallah Az...
5     113445  a.k.a.                            Al Harakat Al Islamiyya
8    6908402  a.k.a.                           Allied Democratic Forces
..       ...     ...                                                ...
673   114113  a.k.a.                                            Al Wafa
674   114113  a.k.a.                               Al Wafa Organization
675   114113  a.k.a.                          Wafa Al-Igatha Al-Islamia
679   110326  a.k.a.  Yazd Ammunition Manufacturing and Metallurgy I...
680   110326  a.k.a.  Directorate of Yazd Ammunition and Metallurgy ...

[568 rows x 3 columns]

In [43]:
df_entities_alias_stack['QUALITY'].value_counts()

a.k.a.    553
f.k.a.     15
Name: QUALITY, dtype: int64

In [44]:
df_entities_alias_aka_stack = df_entities_alias_stack[df_entities_alias_stack['QUALITY']=='a.k.a.'][['DATAID','ALIAS_NAME']]\
    .dropna(subset=['ALIAS_NAME'])\
    .drop_duplicates()\
    .rename(columns={'ALIAS_NAME':'ALIAS_AKA'})

In [45]:
df_entities_alias_aka_stack.head()

    DATAID                                          ALIAS_AKA
2  6908409                            Abdullah Azzam Brigades
3  6908409  Ziyad al-Jarrah Battalions of the Abdallah Azz...
4  6908409  Yusuf al-'Uyayri Battalions of the Abdallah Az...
5   113445                            Al Harakat Al Islamiyya
8  6908402                           Allied Democratic Forces

In [46]:
df_entities_alias_aka_concat = df_entities_alias_aka_stack.groupby('DATAID',as_index=False).agg('|'.join)

In [47]:
df_entities_alias_aka_concat

      DATAID                                          ALIAS_AKA
0     110326  Yazd Ammunition Manufacturing and Metallurgy I...
1     110335          Shahid Sattari Group Equipment Industries
2     110361                                                3MG
3     110362                                             MODLEX
4     110372                                    Kalaye Electric
..       ...                                                ...
130  6908836  Islamic state of Iraq and the Levant in Libya|...
131  6908837  Islamic State of Iraq and the Levant of Yemen|...
132  6908862  ISIL-Tunisia|ISIL-Tunisia Province|Soldiers of...
133  6908876  ANSARALLAH|ANSAR ALLAH|PARTISANS OF GOD|SUPPOR...
134  6908877       JANNAT OSHIKLARI|Jama`at al-Tawhid wal-Jihad

[135 rows x 2 columns]

In [48]:
df_entities_alias_fka_stack = df_entities_alias_stack[df_entities_alias_stack['QUALITY']=='f.k.a.'][['DATAID','ALIAS_NAME']]\
    .dropna(subset=['ALIAS_NAME'])\
    .drop_duplicates()\
    .rename(columns={'ALIAS_NAME':'ALIAS_FKA'})

In [49]:
df_entities_alias_fka_stack

      DATAID                                          ALIAS_FKA
9    6908402  Forces Démocratiques Alliées-Armée Nationale d...
10   6908402                                           ADF/NALU
11   6908402                                               NALU
115  2881836                            Al-Qaida in Yemen (AQY)
222   110387                      Instrumentation Factory Plant
286  2921366                                   Harakat-ul-Ansar
287  2921366                                                HUA
364  6908599                                      Ahrar-ul-Hind
406  6908877                                   JANNAT OSHIKLARI
438   690751             LYONGAKSAN GENERAL TRADING CORPORATION
502  6908335                                       LOGARCHEO AG
636   690752                             CHANGGWANG CREDIT BANK
637   690752                       KOREA CHANGGWANG CREDIT BANK
662   113995  Le Groupe Salafiste pour La Prédication et le ...
663   113995                 Salafist Group For Call and Combat

In [50]:
df_entities_alias_fka_concat = df_entities_alias_fka_stack.groupby('DATAID',as_index=False).agg('|'.join)

In [51]:
df_entities_alias_fka_concat

    DATAID                                          ALIAS_FKA
0   110387                      Instrumentation Factory Plant
1   113995  Le Groupe Salafiste pour La Prédication et le ...
2  2881836                            Al-Qaida in Yemen (AQY)
3  2921366                               Harakat-ul-Ansar|HUA
4   690751             LYONGAKSAN GENERAL TRADING CORPORATION
5   690752  CHANGGWANG CREDIT BANK|KOREA CHANGGWANG CREDIT...
6  6908335                                       LOGARCHEO AG
7  6908402  Forces Démocratiques Alliées-Armée Nationale d...
8  6908599                                      Ahrar-ul-Hind
9  6908877                                   JANNAT OSHIKLARI

<h3>entity_ADDRESS</h3>

In [52]:
df_entities_address_stack = df_from_group_3(entities,'ENTITY_ADDRESS')

In [53]:
df_entities_address_stack

,DATAID,CITY,COUNTRY,NOTE,STATE_PROVINCE,STREET,ZIP_CODE
0,6908629,Pyongyang,Democratic People's Republic of Korea,NaN,NaN,NaN,NaN
2,6908409,NaN,NaN,"Operates in Lebanon, Syria and the Arabian Pen...",NaN,NaN,NaN
3,113445,NaN,Philippines,NaN,NaN,NaN,NaN
5,6908510,Pyongyang,Democratic People's Republic of Korea,NaN,NaN,NaN,NaN
6,6908402,NaN,Democratic Republic of the Congo,NaN,North Kivu,NaN,NaN
...,...,...,...,...,...,...,...
396,110326,"Tehran, 16588",Iran,NaN,NaN,"Pasdaran Avenue, next to Telecommunication Ind...",NaN
397,110326,Yazd,Iran,NaN,NaN,Postal Box 89195/878,NaN
398,110326,Yazd,Iran,NaN,NaN,P.O. Box 89195-678,NaN
399,110326,Yazd,Iran,NaN,NaN,Km 5 of Taft Road,NaN
400,6908689,Singapore,Singapore,NaN,NaN,"80 Raffles Place, #17-22 UOB Plaza",048624

In [54]:
df_entities_address_concat = df_entities_address_stack[['DATAID','COUNTRY']]\
    .dropna(subset=['COUNTRY'])\
    .drop_duplicates()\
    .rename(columns={'COUNTRY':'ADDRESS_COUNTRY'})\
    .groupby('DATAID',as_index=False).agg('|'.join)

In [55]:
df_entities_address_concat

      DATAID             ADDRESS_COUNTRY
0     110326                        Iran
1     110327  Iran (Islamic Republic of)
2     110329  Iran (Islamic Republic of)
3     110331  Iran (Islamic Republic of)
4     110334  Iran (Islamic Republic of)
..       ...                         ...
163  6908693                       China
164  6908695                       China
165  6908696                       China
166  6908697                       China
167  6908876                       Yemen

[168 rows x 2 columns]

<h1>Final Consolidation</h1>

In [56]:
df_entities_conso = df_entities_group_1\
    .merge(df_entities_list_type_concat, on='DATAID',how='outer')\
    .merge(df_entities_last_day_updated_concat, on='DATAID',how='outer')\
    .merge(df_entities_alias_aka_concat, on='DATAID',how='outer')\
    .merge(df_entities_alias_fka_concat, on='DATAID',how='outer')\
    .merge(df_entities_address_concat, on='DATAID',how='outer')\
    .sort_values(by=['REFERENCE_NUMBER'])

In [57]:
df_entities_conso

,DATAID,VERSIONNUM,FIRST_NAME,UN_LIST_TYPE,REFERENCE_NUMBER,LISTED_ON,COMMENTS1,NAME_ORIGINAL_SCRIPT,SUBMITTED_ON,LIST_TYPE,LAST_DAY_UPDATED,ALIAS_AKA,ALIAS_FKA,ADDRESS_COUNTRY
6,6908402,1,ADF,DRC,CDe.001,2014-06-30,"ADF founder and leader, Jamil Mukulu (CDi.015)...",NaN,NaN,UN List,2016-10-19|2020-08-19,Allied Democratic Forces,Forces Démocratiques Alliées-Armée Nationale d...,Democratic Republic of the Congo
52,6908024,1,BUTEMBO AIRLINES (BAL),DRC,CDe.002,2007-03-29,"Privately-owned airline, operates out of Butem...",NaN,NaN,UN List,NaN,NaN,NaN,Democratic Republic of the Congo
57,6908026,1,COMPAGNIE AERIENNE DES GRANDS LACS (CAGL) ; GR...,DRC,CDe.003,2007-03-29,"As of December 2008, GLBC no longer had any op...",NaN,NaN,UN List,NaN,CAGL,NaN,Democratic Republic of the Congo|Rwanda
58,6908025,1,CONGOMET TRADING HOUSE,DRC,CDe.004,2007-03-29,No longer exists as a gold trading house in Bu...,NaN,NaN,UN List,NaN,NaN,NaN,NaN
75,6908027,1,FORCES DEMOCRATIQUES DE LIBERATION DU RWANDA (...,DRC,CDe.005,2012-12-31,Email: Fdlr@fmx.de; fldrrse@yahoo.fr; fdlr@gmx...,NaN,NaN,UN List,NaN,FDLR|Force Combattante Abacunguzi|Combatant Fo...,NaN,Democratic Republic of the Congo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,2989573,1,ROSHAN MONEY EXCHANGE,Taliban,TAe.011,2012-06-29,Roshan Money Exchange stores and transfers fun...,صرافی روشان,NaN,UN List,2012-10-25,Roshan Sarafi|Roshan Trading Company|Rushaan T...,NaN,NaN
87,3000441,1,HAQQANI NETWORK (HQN),Taliban,TAe.012,2012-11-05,Network of Taliban fighters centered around th...,شبکه حقانی,NaN,UN List,NaN,NaN,NaN,NaN
202,3000510,1,RAHAT LTD.,Taliban,TAe.013,2012-11-21,Rahat Ltd. was used by Taliban leadership to t...,راحت لمتد,NaN,UN List,2013-06-27,Rahat Trading Company|Haji Muhammad Qasim Sara...,NaN,NaN
83,6908451,1,HAJI BASIR AND ZARJMIL COMPANY HAWALA,Taliban,TAe.014,2015-03-27-04:00,Money service provider used by senior Taliban ...,د حاجی بصیر او ضرجمیل کمپنی حواله,NaN,UN List,NaN,Haji Bashir and Zarjmil Hawala Company|Haji Ab...,NaN,Pakistan|Afghanistan|United Arab Emirates|Bran...
238,6908876,1,THE HOUTHIS,Yemen,YEe.001,2022-02-28,Listed pursuant to paragraph 5 of resolution 2...,NaN,NaN,UN List,NaN,ANSARALLAH|ANSAR ALLAH|PARTISANS OF GOD|SUPPOR...,NaN,Yemen

In [58]:
df_entities_conso.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253 entries, 6 to 238
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DATAID                253 non-null    object
 1   VERSIONNUM            253 non-null    object
 2   FIRST_NAME            253 non-null    object
 3   UN_LIST_TYPE          253 non-null    object
 4   REFERENCE_NUMBER      253 non-null    object
 5   LISTED_ON             253 non-null    object
 6   COMMENTS1             246 non-null    object
 7   NAME_ORIGINAL_SCRIPT  44 non-null     object
 8   SUBMITTED_ON          1 non-null      object
 9   LIST_TYPE             253 non-null    object
 10  LAST_DAY_UPDATED      92 non-null     object
 11  ALIAS_AKA             135 non-null    object
 12  ALIAS_FKA             10 non-null     object
 13  ADDRESS_COUNTRY       168 non-null    object
dtypes: object(14)
memory usage: 29.6+ KB

In [59]:
df_entities_conso = df_entities_conso[['DATAID',\
    'REFERENCE_NUMBER',\
    'VERSIONNUM',\
    'LISTED_ON',\
    'LAST_DAY_UPDATED',\
    'LIST_TYPE',\
    'UN_LIST_TYPE',\
    'FIRST_NAME',\
    'NAME_ORIGINAL_SCRIPT',\
    'ALIAS_AKA',\
    'ALIAS_FKA',\
    'ADDRESS_COUNTRY',\
    'COMMENTS1',\
    'SUBMITTED_ON']]

In [60]:
df_entities_conso

,DATAID,REFERENCE_NUMBER,VERSIONNUM,LISTED_ON,LAST_DAY_UPDATED,LIST_TYPE,UN_LIST_TYPE,FIRST_NAME,NAME_ORIGINAL_SCRIPT,ALIAS_AKA,ALIAS_FKA,ADDRESS_COUNTRY,COMMENTS1,SUBMITTED_ON
6,6908402,CDe.001,1,2014-06-30,2016-10-19|2020-08-19,UN List,DRC,ADF,NaN,Allied Democratic Forces,Forces Démocratiques Alliées-Armée Nationale d...,Democratic Republic of the Congo,"ADF founder and leader, Jamil Mukulu (CDi.015)...",NaN
52,6908024,CDe.002,1,2007-03-29,NaN,UN List,DRC,BUTEMBO AIRLINES (BAL),NaN,NaN,NaN,Democratic Republic of the Congo,"Privately-owned airline, operates out of Butem...",NaN
57,6908026,CDe.003,1,2007-03-29,NaN,UN List,DRC,COMPAGNIE AERIENNE DES GRANDS LACS (CAGL) ; GR...,NaN,CAGL,NaN,Democratic Republic of the Congo|Rwanda,"As of December 2008, GLBC no longer had any op...",NaN
58,6908025,CDe.004,1,2007-03-29,NaN,UN List,DRC,CONGOMET TRADING HOUSE,NaN,NaN,NaN,NaN,No longer exists as a gold trading house in Bu...,NaN
75,6908027,CDe.005,1,2012-12-31,NaN,UN List,DRC,FORCES DEMOCRATIQUES DE LIBERATION DU RWANDA (...,NaN,FDLR|Force Combattante Abacunguzi|Combatant Fo...,NaN,Democratic Republic of the Congo,Email: Fdlr@fmx.de; fldrrse@yahoo.fr; fdlr@gmx...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,2989573,TAe.011,1,2012-06-29,2012-10-25,UN List,Taliban,ROSHAN MONEY EXCHANGE,صرافی روشان,Roshan Sarafi|Roshan Trading Company|Rushaan T...,NaN,NaN,Roshan Money Exchange stores and transfers fun...,NaN
87,3000441,TAe.012,1,2012-11-05,NaN,UN List,Taliban,HAQQANI NETWORK (HQN),شبکه حقانی,NaN,NaN,NaN,Network of Taliban fighters centered around th...,NaN
202,3000510,TAe.013,1,2012-11-21,2013-06-27,UN List,Taliban,RAHAT LTD.,راحت لمتد,Rahat Trading Company|Haji Muhammad Qasim Sara...,NaN,NaN,Rahat Ltd. was used by Taliban leadership to t...,NaN
83,6908451,TAe.014,1,2015-03-27-04:00,NaN,UN List,Taliban,HAJI BASIR AND ZARJMIL COMPANY HAWALA,د حاجی بصیر او ضرجمیل کمپنی حواله,Haji Bashir and Zarjmil Hawala Company|Haji Ab...,NaN,Pakistan|Afghanistan|United Arab Emirates|Bran...,Money service provider used by senior Taliban ...,NaN
238,6908876,YEe.001,1,2022-02-28,NaN,UN List,Yemen,THE HOUTHIS,NaN,ANSARALLAH|ANSAR ALLAH|PARTISANS OF GOD|SUPPOR...,NaN,Yemen,Listed pursuant to paragraph 5 of resolution 2...,NaN

<h3>Export to excel</h3>

In [61]:
# xlwriter = pd.ExcelWriter('unsc_entities.xlsx')

# df_entities_conso.to_excel(xlwriter, sheet_name='conso',index=False)
# df_entities_designation_unstack.to_excel(xlwriter, sheet_name='designation',index=False)
# df_entities_nationality_unstack.to_excel(xlwriter, sheet_name='nationality',index=False)
# df_entities_last_day_updated_unstack.to_excel(xlwriter, sheet_name='last_day_updated',index=False)
# df_entities_title_unstack.to_excel(xlwriter, sheet_name='title',index=False)
# df_entities_alias_stack.to_excel(xlwriter, sheet_name='alias',index=False)
# df_entities_address_stack.to_excel(xlwriter, sheet_name='address',index=False)
# df_entities_primary_dob_yob_stack.to_excel(xlwriter, sheet_name='dob',index=False)
# df_entities_primary_pob_stack.to_excel(xlwriter, sheet_name='pob',index=False)
# df_entities_document_stack.to_excel(xlwriter, sheet_name='document',index=False)

# xlwriter.save()